@use "../_variables" as *;
@import "../media-queries";

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.about {
  display: flex;
  width: 1200px;

  &_text-images {
    display: flex;
    gap: 16px;

    &_content {
      display: flex;
      flex-direction: column;
      text-align: left;
      max-width: 503px;
      position: relative;

      .title {
        text-align: left !important;
        padding: 0 0 24px 0 !important;
      }

      &_img {
        position: absolute;
        top: 240px;
        filter: grayscale(1);
      }
    }

    &_img {
      width: 50%;
    }
  }
}
