@use "../_variables" as *;
@import "../media-queries";

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.about {
  display: flex;
  align-items: center;
  width: 1200px;

  &_text-images {
    display: flex;
    height: 600px !important;
    gap: 16px;

    @include tablet {
      max-width: 800px;
      height: 520px !important;
    }

    @include mobile {
      height: 100% !important;
    }

    &_content {
      display: flex;
      flex-direction: column;
      text-align: left;
      max-width: 503px;
      position: relative;

      .title {
        text-align: left !important;
        padding: 0 0 24px 0 !important;
      }

      &_img {
        position: absolute;
        top: 240px;
        filter: grayscale(1);

        height: 590px;
        width: 521px;
        background-image: url("/images/about/lines.svg");
        background-repeat: no-repeat;
        background-size: contain;

        @include tablet {
          height: 292px;
          width: 465px;
          filter: none;
          background-image: url("/images/about/woman-tablet.png");
        }

        @include mobile {
          display: none !important;
        }
      }
    }

    &_img {
      background-image: url("/images/about/graduating-people.png");
      background-repeat: no-repeat;
      border-radius: 8px;
      background-size: contain;
      width: 50%;

      @include tablet {
        background-image: url("/images/about/boy-tablet.png");
      }

      @include mobile {
        display: none !important;
      }
    }
  }
}
