@use "../_variables" as *;
@import "../media-queries";

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.about {
  display: flex;
  width: 1200px;

  &_text-images {
    display: flex;
    gap: 40px;

    &_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      width: auto;

      .title {
        padding: 0 !important;
      }
    }

    &_image {
      width: min-content;
    }
  }
}
