@use "../_variables" as *;
@import "../media-queries";

.contact {
  display: flex;
  flex-direction: column;
  gap: 48px;

  h5 {
    font-size: 20px;

    @include mobile {
      font-size: 16px;
    }
  }

  &_links {
    display: flex;

    @include mobile {
      flex-wrap: wrap;
      gap: 36px;
    }

    &_item {
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include mobile {
        width: auto;
      }

      &_link {
        font-size: 16px;
        color: #f7f8f9 !important;

        @include mobile {
          font-size: 12px;
        }
      }
    }
  }

  .divider {
    background-color: #8f9294;
  }

  &_other {
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    label,
    p,
    i {
      font-size: 16px;

      @include mobile {
        font-size: 14px !important;
      }
    }

    &_access {
      width: 50%;
      display: flex;
      flex-direction: column;

      @include mobile {
        width: 100%;
      }

      &_title {
        padding-bottom: 24px;
      }

      &_email {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 16px 0 24px 0;

        &_input {
          height: 40px;
          width: 232px;
          border: 1px solid #8f9294;
          color: $light-text-color;
          padding: 0 8px;
          border-radius: 4px;
          background: none;
        }
      }

      &_submit {
        &:hover {
          opacity: 0.8;
          transition: 0.3s ease;
        }
      }

      &_disclaimer {
        padding: 24px 0 24px 0;
      }

      &_socials {
        display: flex;
        flex-direction: row;
        gap: 12px;
      }
    }

    &_company {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;

      @include mobile {
        width: 100%;
      }

      &_content {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }
}
