@use "../_variables" as *;
@import "../media-queries";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.cdnfonts.com/css/canela-text-trial");

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.data {
  background-color: $light-blue-background-color;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  height: 100% !important;
  width: 100% !important;
  padding: 0 80px;
  border-bottom: 1px solid #1e1e20;
  font-family: "Noto Sans", sans-serif;

  @include desktop-lg {
    height: 540px;
  }

  @include tablet {
    padding: 0 32px;
    height: 600px;
    p {
      font-size: 14px;
    }
  }

  @include mobile {
    padding: 0;
    flex-direction: column !important;
    background-color: $dark-background-color;
  }

  .divider {
    background-color: #1e1e20;
    width: 1px;
    height: 100%;
  }

  &_logos {
    display: flex;
    gap: 12px;

    @include tablet {
      gap: 4px;

      img {
        width: 100px !important;
      }
    }

    @include mobile {
      gap: 32px;
      width: 100%;
      background-color: $secondary-background-color;
      flex-direction: column !important;
      align-items: center;

      padding: 48px 0;

      img {
        width: 150px !important;
      }
    }
  }

  &_students {
    padding: 0 24px;
    display: flex;
    gap: 24px;

    @include mobile {
      padding: 63px 45px !important;
    }

    .title {
      display: none;

      @include mobile {
        display: block;
        padding: 0 !important;
        color: $light-text-color;
      }
    }

    @include tablet {
      padding: 0 0 0 16px;
      gap: 8px;
    }

    .pictures {
      display: flex;

      @include mobile {
        display: none;
      }

      .person {
        height: 40px;
        width: 40px;
        margin-left: -8px;

        @include tablet {
          height: 20px;
          width: 20px;
        }
      }
    }

    .text {
      min-width: 120px;

      @include mobile {
        display: none;
      }
    }
  }

  &_connect {
    display: flex;
    gap: 24px;

    @include tablet {
      gap: 8px;
    }

    @include mobile {
      display: none;
    }

    p {
      max-width: 211px;
    }
  }
}
