@use "../_variables" as *;
@import "../media-queries";

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.eligible {
  display: flex;
  width: 1200px;

  @include mobile {
    flex-direction: column !important;
  }

  &_content {
    display: flex;
    gap: 48px;

    @include mobile {
      padding-top: 24px;
      width: 100%;
    }

    &_list {
      gap: 24px;
      display: flex;
      flex-direction: column;
      width: auto !important;

      @include mobile {
        width: 100% !important;
      }

      &_item {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        border: 1px solid #7b7b7e;
        border-radius: 8px;
        padding: 20px;

        &_text {
          width: 100%;
          font-size: 16px;
        }
      }
    }

    &_image {
      max-width: 52% !important;

      @include mobile {
        width: 100% !important;
      }

      .my-photo {
        height: auto;

        @include mobile {
          height: 260px;
        }
      }
    }
  }
}
