@use "../_variables" as *;
@import "../media-queries";

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.eligible {
  display: flex;
  width: 1200px;

  @include mobile {
    flex-direction: column !important;
  }

  &_content {
    display: flex;
    gap: 48px;

    &_list {
      gap: 24px;
      display: flex;
      flex-direction: column;
      width: auto !important;

      :hover {
        background-color: #00847a;
        color: #f8f8f9;
        opacity: 0.8;
        transition: color 0.3s ease;
      }

      @include tablet {
        gap: 20px;
      }

      @include mobile {
        width: 100% !important;
      }

      &_item {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        border: 1px solid #7b7b7e;
        border-radius: 8px;
        padding: 20px;

        @include tablet {
          padding: 10px;
        }

        @include tablet {
          border: none;
        }

        &_img {
          @include tablet {
            padding-top: 6px;
          }
          @include mobile {
            border: 1px solid #7b7b7e;
            border-radius: 50%;
            height: 24px;
            width: 24px;
            padding: 4px;
          }
        }

        &_text {
          width: 100%;
          font-size: 16px;

          @include tablet {
            font-size: 14px !important;
          }
        }
      }
    }

    &_image {
      max-width: 52% !important;

      @include tablet {
        max-width: 40% !important;
      }

      @include mobile {
        width: 100% !important;
      }

      @include mobile {
        display: none !important;
      }

      .my-photo {
        background-image: url("/images/eligible-section-girl.jpg");
        background-repeat: no-repeat;
        background-position: 90%;
        border-radius: 8px;
        background-size: cover;

        height: 100%;
        width: 100%;

        @include tablet {
          background-image: url("/images/eligible-section-girl-tablet.png");
          background-size: auto;
        }

        @include mobile {
          height: 260px;
        }
      }
    }
  }
}
