@use "../_variables" as *;
@import "../media-queries";

.faq-title {
  @include tablet {
    font-size: 36px !important;
  }
  @include mobile {
    font-size: 20px !important;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 56px;

  @include mobile {
    gap: 32px;
  }

  &_item {
    background-color: #fafafa;
    border-radius: 8px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;

    @include mobile {
      font-size: 16px !important;
      padding: 24px;
    }

    &_question {
      width: 100%;
      display: flex;
      gap: 16px;
      justify-content: space-between;
      align-items: center;
      color: #545458;

      &_text {
        font-size: 20px;

        @include mobile {
          font-size: 16px !important;
        }
      }

      &_icon {
        // background-color: #efefef;
        cursor: pointer;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Canela Deck Trial", sans-serif;
        font-size: 24px;

        @include mobile {
          height: 32px;
          width: 32px;
        }

        .arrow {
          transition: all 0.4s ease;
          height: 8px;
        }

        .rotated {
          transform: rotateZ(-180deg);
        }
      }
    }

    &_answer {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include mobile {
        font-size: 16px !important;
      }
    }
  }
}
