@use "../_variables" as *;
@import "../media-queries";

.section-color {
  @include tablet {
    h2,
    h6,
    p {
      color: $light-text-color !important;
    }
  }

  @include mobile {
    h2,
    h6,
    p {
      color: $text-color !important;
    }
  }

  .features {
    display: flex;
    gap: 32px;
    max-width: 1200px;
    margin-top: 80px;

    @include tablet {
      width: 100%;
      gap: 48px;
      flex-direction: column;
      align-items: center;
    }

    h6 {
      @include tablet {
        font-size: 20px !important;
      }
    }

    p {
      @include tablet {
        font-size: 14px !important;
      }
    }

    .card {
      border: 1px solid #7b7b7e;
      border-radius: 8px;
      display: flex;
      height: 280px;
      width: 33%;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      padding: 32px;
      align-items: center;
      justify-content: center;
      color: $secondary-text-color !important;
      position: relative;

      @include tablet {
        border: none;
        padding: 0;
        width: 274px;
      }

      @include mobile {
        height: auto;
        width: auto;
        margin-bottom: 0;
      }

      .logo-container {
        height: 78px !important;
        width: 78px !important;
        border-radius: 50%;
        position: absolute;
        top: -39px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $primary-color;

        @include tablet {
          position: relative;
          top: 0;
        }

        .logo {
          height: 32px;
          width: 32px;
        }
      }

      .name {
        font-family: "Canela Deck Trial", sans-serif;
        font-size: 24px;
      }

      .carousel-description {
        font-size: 16px;

        @include mobile {
          max-width: 400px;
        }
      }
    }
  }
}
