@use "../_variables" as *;
@import "../media-queries";

.providers {
  table {
    width: 100%;
    th {
      height: 90px;
      font-family: "Canela Deck Trial", sans-serif;
      font-size: 24px;
    }
    td {
      height: 94px;
    }
  }
}

.table-secondary-background {
  background-color: $primary-color;
}
