@use "../_variables" as *;
@import "../media-queries";

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 48px;

  .slick-slide {
    margin: 0 8px;
  }

  &_redirect {
    width: 100%;

    &_content {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 20px;

      a {
        font-size: 20px;
        font-weight: bold;
        color: #06226b;
      }
    }
  }

  .slider {
    position: relative;
    height: 292px;
  }

  .slider-arrow-back {
    position: absolute;
    top: 48%;
    left: -32px;
    cursor: pointer;
  }

  .slider-arrow-next {
    position: absolute;
    top: 48%;
    right: -32px;
    cursor: pointer;
  }
}
