@use "../_variables" as *;
@import "../media-queries";

.reviews {
  .control-dots {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: -8px;

    .dot {
      background-color: $primary-color;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &_item {
    margin: 20px 0 48px 0;

    @include mobile {
      margin: 0 !important;
    }

    &_content {
      background-color: $primary-background-color;
      box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.1);
      border: 1px solid $divider-background-color;
      border-radius: 8px;
      padding: 40px;
      height: 320px !important;
      width: 700px !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between !important;
      align-items: center;
      padding: 24px 32px;
      text-align: center;

      @include mobile {
        padding: 24px;
        background: none;
        gap: 16px;
        height: max-content !important;
        width: 100% !important;
      }

      .description {
        font-size: 1.1rem;
        color: $secondary-text-color;
      }

      .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: max-content;

        @include mobile {
          width: auto;
        }

        .logo {
          height: 80px;
          width: 80px;
          border-radius: 50%;
          padding: 2px;
          border: 1px solid $primary-color;
        }

        .name {
          font-weight: 600;
          color: $primary-color;
        }
      }
    }
  }
}
