$primary-color: #00847a;
$primary-dark-color: #06226b;
$text-color: rgba(29, 29, 29, 0.92);
$secondary-text-color: rgba(56, 56, 56, 0.87);
$tertiary-text-color: #7b7b7e;
$light-text-color: #f8f8f9;
$primary-background-color: #1b1b1f;
$secondary-background-color: #fefefe;
$dark-background-color: #021953;
$light-blue-background-color: #e2e8f8;
$tertiary-background-color: #f5f5fa;
$input-background-color: #dedeeb;
$divider-background-color: #e1e6eb;
$button-text-color: #eeeeee;
