@use "variables" as *;
@import "media-queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  color: $text-color;
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
}

a,
body,
input,
button,
textarea {
  border: none;
  color: $text-color;
  text-decoration: none;
}

button {
  border-radius: 8px;
  cursor: pointer;
}

label {
  font-size: 1.05rem;
}

h3 {
  font-size: 1.5rem;
}

a,
b,
p,
h4 {
  font-size: 1.2rem;
}

li {
  font-size: 1.1rem;
}

button {
  font-weight: bold;
  background-color: $primary-color;
  color: $light-text-color;
  width: max-content;
  padding: 12px 20px;
}

.button-secondary {
  background-color: $light-text-color;
  color: $primary-color;

  &:hover {
    background-color: #edcdff;
  }
}

#root {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: $primary-background-color;
}

.section {
  width: 100%;
  padding: 80px 40px;
  display: flex;
  justify-content: center;

  @include desktop-lg {
    padding: 64px 40px;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 1200px;

    @include tablet {
      width: 100%;
    }

    .title {
      padding-bottom: 40px;
      font-family: "Canela Deck Trial", sans-serif;
      font-size: 40px;
      text-align: center;
    }

    .title-variant {
      padding-bottom: 32px;
      font-size: 1.6rem;
      text-align: center;
    }
  }
}

.home-section {
  height: 620px;
  margin-top: 98px;
  padding: 0;

  @include desktop-lg {
    height: 540px;
  }

  @include tablet {
    height: 600px;
  }
}

.second-section {
  height: 142px !important;
  padding: 0;

  @include desktop-lg {
    height: 540px;
  }

  @include tablet {
    height: 600px;
  }
}

.background-primary {
  background-color: $primary-background-color;
  color: $light-text-color;
}

.background-secondary {
  background-color: $secondary-background-color;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: $divider-background-color;
}

.text-secondary {
  color: $secondary-text-color;
}

.text-highlight {
  color: $primary-color;
  font-size: 1.4rem !important;
  font-weight: bold;
}

.redirect-link {
  cursor: pointer;
  color: $primary-color;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}
