@use "../../_variables" as *;
@import "../../media-queries";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.cdnfonts.com/css/canela-text-trial");

.jobs {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100% !important;

  &_search {
    background-color: $primary-background-color;
    color: $light-text-color;
    padding: 44px 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    flex-direction: row;
    gap: 32px;

    p {
      font-size: 24px;
    }

    .input-list {
      display: flex;
      gap: 4px;

      .input-with-icon {
        display: flex;
        background-color: #fff;
        width: 322px;
        border-radius: 2px;
        padding-left: 16px;

        .input-select {
          width: 100%;
          height: 46px;

          &__indicator-separator {
            width: 0;
          }

          &__value-container {
            display: flex !important;
            flex-wrap: nowrap !important;
          }

          &__control {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
          }

          &__input {
            height: 32px;
          }

          &__menu {
            color: $text-color;
          }
        }

        input,
        select {
          background-color: #fff;
          height: 46px;
          width: 100%;
          border: none !important;
          outline: none !important;
          display: flex;
          padding: 12px 0 12px 8px;
          align-items: center;
          border-radius: 2px;

          @include tablet {
            width: 200px;
          }
        }
      }
    }
  }

  &_list {
    padding: 40px 100px;
    background-color: $secondary-background-color;
    width: 100%;
    display: flex;
    flex-direction: column;

    &_not-found {
      text-align: center;
      color: $tertiary-text-color;
      padding-top: 76px;
    }

    &_opportunities {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap !important;
      justify-content: flex-start !important;

      &_job {
        width: 33%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 80px;
        border-radius: 8px;
        padding: 16px;
        cursor: pointer;

        &:hover {
          background-color: $tertiary-background-color;
        }

        div {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 16px;
        }

        p {
          font-size: 16px !important;
          color: $tertiary-text-color;
        }

        i {
          color: $primary-color;
        }

        &_location {
          gap: 12px !important;
        }
      }
    }

    button {
      margin-top: -10px;
    }
  }

  &_text-content {
    padding: 76px 100px;
    display: flex;
    background-color: $secondary-background-color;

    &_list {
      display: flex;
      width: 100%;
      gap: 40px;
      max-width: 1300px;
      justify-content: space-between !important;

      &_item {
        max-width: 525px;

        h6 {
          font-size: 40px !important;
          text-align: left !important;
          padding-bottom: 16px !important;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }

  &_details {
    background-color: $secondary-background-color;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    h3 {
      color: $primary-dark-color;
      max-width: 40%;
    }

    p {
      font-size: 16px;
    }

    &_description,
    &_requirements,
    &_skills {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &_actions {
      display: flex;
      gap: 16px;
    }

    li {
      list-style: disc;
      margin-left: 24px;
    }
  }
}
