@use "../../_variables" as *;
@import "../../media-queries";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.cdnfonts.com/css/canela-text-trial");

.jobs {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100% !important;

  &_search {
    background-color: $primary-background-color;

    &_content {
      color: $light-text-color;
      width: 1300px;
      padding: 44px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start !important;
      flex-direction: row;
      gap: 32px;

      @include desktop-lg {
        padding: 44px 100px;
        width: 100%;
      }

      @include tablet {
        padding: 44px 36px;
        width: 100%;
        justify-content: center !important;
      }

      p {
        font-size: 24px;
        white-space: nowrap;

        @include tablet {
          display: none;
        }
      }

      .input-list {
        display: flex;
        gap: 4px;

        @include mobile {
          align-items: center;
          flex-direction: column;
          width: 100%;
          gap: 16px;
        }

        .input-with-icon {
          display: flex;
          background-color: #fff;
          border-radius: 2px;
          padding-left: 16px;

          @include mobile {
            max-width: 500px;
            width: 100%;
          }

          .input-select {
            width: 100%;
            min-width: 250px;
            height: 46px;

            &__indicator-separator {
              width: 0;
            }

            &__clear-indicator {
              display: none;
            }

            &__value-container {
              display: flex !important;
              flex-wrap: nowrap !important;
            }

            &__control {
              border: none !important;
              outline: none !important;
              box-shadow: none !important;
            }

            &__input {
              height: 32px;
            }

            &__menu {
              color: $text-color;
            }
          }

          input,
          select {
            background-color: #fff;
            height: 46px;
            width: 100%;
            border: none !important;
            outline: none !important;
            display: flex;
            padding: 12px 0 12px 8px;
            align-items: center;
            border-radius: 2px;

            @include tablet {
              width: 200px;
            }
          }
        }

        .input-fix-width {
          width: 270px;

          @include tablet {
            width: 100%;
          }

          @include mobile {
            max-width: 500px;
          }
        }
      }
    }
  }

  &_list {
    background-color: $secondary-background-color;
    width: 100%;

    &_content {
      padding: 40px 0;
      width: 1300px;
      display: flex;
      flex-direction: column;

      @include desktop-lg {
        padding: 44px 100px;
        width: 100%;
      }

      @include tablet {
        padding: 44px 36px;
      }

      &_not-found {
        text-align: center;
        color: $tertiary-text-color;
        padding-top: 76px;

        @include tablet {
          padding: 44px 0;
        }
      }

      &_opportunities {
        width: 100%;
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: flex-start !important;

        &_job {
          width: 33%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-bottom: 80px;
          border-radius: 8px;
          padding: 16px;
          cursor: pointer;

          &:hover {
            background-color: $tertiary-background-color;
          }

          @include tablet {
            width: 50%;
            margin-bottom: 40px;
            padding: 16px 0;
          }

          @include mobile {
            width: 100%;
            margin-bottom: 16px;
          }

          div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 16px;
          }

          h3,
          h4 {
            color: $primary-dark-color !important;
          }

          p {
            font-size: 16px !important;
            color: $tertiary-text-color;
          }

          i {
            color: $primary-color;
          }

          &_location {
            gap: 12px !important;
          }
        }
      }

      button {
        margin-top: -10px;
      }
    }
  }

  &_text-content {
    background-color: $secondary-background-color;

    &_content {
      display: flex;
      width: 1300px;
      padding: 44px 0 76px 0;

      @include desktop-lg {
        padding: 76px 100px;
        width: 100%;
      }

      @include tablet {
        padding: 48px 36px 64px 36px;
      }

      @include mobile {
        padding: 36px 36px 64px 36px;
      }

      &_list {
        display: flex;
        width: 100%;
        gap: 40px;
        max-width: 1300px;
        justify-content: space-between !important;

        @include mobile {
          flex-direction: column;
        }

        &_item {
          max-width: 525px;
          color: $text-color !important;

          h6 {
            font-size: 40px !important;
            text-align: left !important;
            padding-bottom: 16px !important;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  &_details {
    background-color: $secondary-background-color;
    width: 100%;
    display: flex;
    justify-content: center;

    &_content {
      width: 1300px;
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include desktop-lg {
        padding: 60px 100px;
        width: 100%;
      }

      @include tablet {
        padding: 40px 36px;
        width: 100%;
      }

      h3 {
        color: $primary-dark-color;
        max-width: 40%;

        @include mobile {
          max-width: 100%;
        }
      }

      h p {
        font-size: 16px;
      }

      &_description,
      &_requirements,
      &_skills {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &_actions {
        display: flex;
        gap: 16px;

        @include mobile {
          flex-direction: column;
        }
      }

      li {
        list-style: disc;
        margin-left: 24px;
      }
    }
  }
}
